@import "styles/variables";

.footerWrap {
  width: 100%;
  background-color: #000000; // Black background

  footer {
    padding: 20px;
    color: #ffffff; // White text

    .footerContent {
      display: flex; // Use flexbox to align form and info section
      justify-content: space-between; // Space out the sections
      align-items: flex-start; // Align items at the start for larger screens

      // Media Query for Mobile
      @media (max-width: 768px) {
        flex-direction: column; // Stack sections vertically
        align-items: center; // Center items
      }
    }

    .formSection {
      padding-right: 20px; // Add space between form and info section
      width: 45%;

      // Media Query for Mobile
      @media (max-width: 768px) {
        width: 100%; // Full width on mobile
        padding-right: 0; // Remove right padding
        margin-bottom: 20px; // Add space below the form
      }
    }

    .infoSection {
      flex: 0 0 200px; // Fixed width for the info section
      display: flex;
      flex-direction: column;
      align-items: flex-start; // Align items to the start
      justify-content: center; // Center vertically
      text-align: left; // Left-align text
      width: 40%;

      // Media Query for Mobile
      @media (max-width: 768px) {
        width: 100%; // Full width on mobile
        align-items: center; // Center align items
        text-align: center; // Center text on mobile
      }
    }

    .logo {
      max-width: 185px;
      height: 59px;
      margin-bottom: 15px;
      border-radius: 5px;

      // Media Query for Mobile
      @media (max-width: 768px) {
        max-width: 150px; // Adjust logo size for mobile
        margin-bottom: 10px; // Adjust margin
      }
    }

    .subFooter {
      text-align: center;
      padding: 15px;
      color: #ffffff; // White text
      font-size: 0.875rem; // Slightly smaller text
    }
  }
}