@import "../../../styles/variables";

.wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: url(../../../public/images/logo/paper.png);
    background-repeat: repeat;
    margin-top: 100px;
}

.leftPart{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    z-index: 999;
    padding: 20px;
    
}


.rightPart {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 15px;
    height: 100%;
    margin-top: 6px;
}

.mainHeader {
    font-size: 28px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5px;
    text-align: center;
}

.subHeader {
    color: #666;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 1.875rem;
    max-width: 75%;
}

.mainContent {
    font-size: 17px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.bottomWave {
    width: 100%;
    position: absolute;
    bottom: -125px;
}

.mainDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.childDiv {
    
    margin: 6px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    flex-direction: column;
    gap: 10px;
}

.childDivforimg {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #47dddb, #00ffe3);
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform 0.3s ease-out;
}

.childDivforimg:hover {
    transform: translateY(-5px);
}

.childDiv:nth-child(3n+1) {
    clear: left;
}

.buttonBox {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.deviceName {
    font-size: 16px;
    word-break: break-word;
    width: 124px;
}

.deviceNameQuestion {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin-top: 30px;
}
.extensiveBox{
    
    display: flex;
    align-items:flex-start;
    gap: 10px;
}
.bulletPoint{
    display: flex;
    margin-bottom: 10px;

}
.bulletPointHeading{
    font-weight: 700;
}
.bulletPointDesc{
    font-size: 13px;
}

/* Mobile styles */
/* Mobile styles */
@media (max-width: 768px) {
    .wrapper{
        margin-top: 0;
    }
    .leftPart {
        justify-content: flex-start;
        margin-top: 0px;
        gap: 15px;
    }

    .leftPart,
    .rightPart {
        padding-left: 1%;
        padding-right: 1%;
        height: auto;
    }

    .rightPart {
        margin-top: 10px;
    }

    .mainHeader {
        font-size: 18px;
        line-height: 1.6;
        text-align: center;
        width: 100%;
        margin-top: 20px
    }

    .subHeader {
        max-width: 100%;
        font-size: 18px;
        width: 100%;
        text-align: center;
        display: block;
        font-weight: 400;
        margin-bottom: 0;
    }

    .buttonBox {
        margin-top: 0px;
        width: 100%;
        justify-content: center;
    }

    .mainDiv {
        flex-wrap: wrap;
        justify-content: center;
    }

    .childDiv {
        flex: 1 1 15%;
        margin: 7px;
        gap: 10px;
    }

    .childDivforimg {
        width: 80px;
        height: 80px;
    }

    .bottomWave {
        bottom: -80px;
        background: #fbfbfb;
    }

    .deviceName {
        font-size: 13px;
        width: auto;
    }

    .deviceNameQuestion {
        font-size: 16px;
        font-size: 21px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: 0;
    }

    .contentWrapper {
        padding: 0;
        margin-top: 0;
    }


}
.experienceText {
    font-size: 16px;
    color: #333;
    margin-bottom: 40px;
    width: 500px;
    text-align: left;
  }

  @media (max-width: 768px) {
    .experienceText {
        font-size: 18px;
        color: #333;
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
        padding: 3px;
      }
      .extensiveBox{
        flex-direction: column;
        align-items: center;
        padding: 2px;
        border: 2px dashed #ff7900;
        border-radius: 6px;
        margin-top: 30px;
      }
  }