.amcSection {
    padding: 40px 20px;
    background-color: #f9f9f9;



    .amcGrid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .amcPoint {
        display: flex;
        align-items: flex-start;
        background: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease;

        &:hover {
            transform: translateY(-5px);
        }
    }

    .amcHeading {
        font-size: 1.1rem;
        color: #444;
        font-weight: bold;
    }

    .amcDescription {
        color: #666;
        font-size: 0.9rem;
        margin-top: 5px;
    }
}

.amcContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two cards per row */
    gap: 20px;

    padding: 20px;
    /* Add padding around the container */

    @media (max-width: 1024px) {
        grid-template-columns: 1fr;
        /* One card per row for tablets and smaller screens */
    }
}

.amcCard {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .cardTitle {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .cardContent {
        font-size: 0.9rem;
        color: #555;
        line-height: 1.5;
    }
}

.amcTitle {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    color: #333;
    padding: 15px;
}

@media (max-width: 768px) {
    .amcTitle {
        font-size: 21px;
        margin-bottom: 0px;
    }
}